@import "tailwindcss";

@media (max-height: 500px) {
  .hero-heading {
    font-size: 2.25rem !important;
    line-height: 1.2;
    margin-bottom: 0rem !important;
    top: 2rem !important;
  }

  .hero-company {
    font-size: 1.5rem !important;
  }
}